<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.bookkeeping">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:name=".MyApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.account.AccountsActivity"
            android:theme="@style/AppTheme.NoActionBar"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.account.CreateAccountActivity"
            android:label="@string/create_account"
            >

        </activity>
        <activity android:name=".ui.transaction.TransactionsActivity"
            android:label="@string/transactions"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.transaction.CreateTransactionActivity"
            android:label="@string/create_transaction">


        </activity>
        <activity android:name=".ui.cloud.FirebaseAuthActivity"
            android:label="@string/cloud"
            >

        </activity>
        <activity android:name=".ui.cloud.FirebaseStorageActivity"
            android:label="@string/cloud_storage"
            >
        </activity>
        <activity android:name=".ui.ChartActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"
            />
    </application>

</manifest>